.nplayer {
  --np-primary: #0095ff;
  --np-primary-rgb: 0, 149, 255;
  --np-body-light: #fff;
  --np-body-light-secondary: #f6f6f6;
  --np-body-dark: #000;
  --np-body-dark-secondary: #090909;
  --np-text-white: #fff;
  --np-text-black: #000;
  --np-icons-default: #fff;

  background: var(--np-body-dark-secondary);
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 100;
    transition: opacity 150ms ease-in-out;
    display: flex;
    padding: 10px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
      width: 100%;
      aspect-ratio: 12/1;
      z-index: -1;
      pointer-events: none;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      color: inherit;
      padding: 0;
      margin: 0;
      width: 35px;
      height: 35px;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 150ms ease-in-out;

      &:hover {
        .icon {
          transition: background 150ms ease-in-out;
          background-color: var(--np-primary);
        }
      }
    }
  }
}

@import "icons";
